
header {
    display: grid;
    position: fixed;
    font-size: 25px;
    grid-template-columns: auto 1fr auto auto;
    background-color: #0C0A0D;
    align-items: center;
    color: #FFB190;
    width: 100%;
    z-index: 10000;
    
  }
  
  header .name-cofe, header .svg-logo {
    justify-self: start;
    margin: 0;
  }
  
  header .svg-logo {
    width: 60px;
    height: 60px;
  }
  
  header .container-interaction {
    font-size: 35px;
    gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  header > .boorger {
    display: none;
  }