* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
html,body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, rgba(84, 40, 27, 0) 0.02%, rgba(54, 28, 21, 0.3) 5.89%, #281713 7.93%, #241916 21%, #241916 52.5%, #111010 91.5%);
}
  